<%= render "shared/nav" %>

<div class="container">
  <div class="jumbotron">
    <h2>Inventory Management System</h2>
    <p>Click on the links to see many more exciting features!</p>
  </div>
</div>