@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .navbar-expand-sm .navbar-nav .nav-link {
  margin-right: 20px;
}

html{
  font-size: 100%;
}

.logo{
    padding-left: 25px;
    color: #e85d1a;
    font-weight: bolder;
  }
.logo:hover{
  color: #e85d1a;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #e85d1a;
}
.dropdown-menu{
  background-color:#343a40 !important;
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  color: #e85d1a;
  background-color: #343a40 !important;
  font-weight: bold;
}
 .space{
   padding: 0px;
 }
 #navbardrop{
   margin-right: 150px;
 }

 h2{
   margin-top: 10px;
   color: #17a2b8 !important;
   font-weight: bold;
 }
 h5{
  margin-top: 10px;
  color: #e85d1a !important;
  font-weight: bold;
 }
 .add{
   float: right;
   margin-right: 30px;
   margin-bottom: 20px;
 }

 .form-check-label{
   margin-left: 30px;
 }
 form{
   margin-top: 25px;
 }

 html,body{
   height: 100%;
 }

 .backgrnd {
  background: url(image_path("inventory3.jpg")) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  height: 100%;
  color: whitesmoke; 
}

#grad {
  width: 350px;
  padding: 15px;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 8px;
  background: hsla(0, 7%, 65%, 0.589);
}

.google-button {
  width: 300px;
  padding-top: 5px;
  display: inline-block;
}
.align{
  height: 100%;
  vertical-align: middle;
}
.dropdown-menu{
  color: white;
}

.low_class{
  color: yellow;
}
.high_class{
  color: red;
}